<% provide(:title, 'Foobar') %>

<%= render 'layouts/navbar' %>

<section id='landing'>
  <div class='background-image'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-12 col-xs-12'>
          <h1><span class='muted'>we are<br></span>
            <span class='subtle-opacity'>distributed <span class='pink'>health</span> labs</span>
          </h1>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-6 col-xs-12 hidden-xs'>
          <iframe src="//player.vimeo.com/video/66929836" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class='col-md-6 col-xs-12'>
          <h2 class='subtle-opacity'>
            a <strong>research lab</strong> at the Qualcomm Institute. Together, we're gonna do<br><strong> big things</strong>.
          </h2>
        </div>
      </div>

    </div>
  </div>
</section>

<div id='start-here' class='scroll-arrow'>
  <button id='scroll-down-button' type="button" class="btn btn-link">
    <i class='fa fa-angle-double-down fa-5x'></i>
  </button>
</div>


<!-- Oasis Project -->
<section id='oasis-project'>
  <div class='background-image'>
    <div class='container'>
      <div id='oasis-quote' class='row'>
        <h1 class='pull-left'>the <span>OASIS</span> project</h1>
        <blockquote class='pull-left'>
          <p>A doctor for the globe, from the network that is us.</p>
        </blockquote>
      </div>
      <div class='row hidden-xs' id='oasis-description'>
        <p class='subtle-opacity'>The goal of the Oasis project is to help make environmental and health problems visible. The Oasis project aims to reveal threats that are imperceptible to the human eye, like heavy metal contaminants in water or high blood pressure. Crowd-sourcing that data will empower communities to tackle widespread environmental and health challenges that require collective action to solve.</p>
      </div>
    </div>
  </div>
</section>


<!-- Open Health Stack intro -->
<section id='ohs-intro'>
  <div class='container'>
    <div id='ohs-header' class='row'>
      <span class='muted'>that's why we're building the</span>
    </div>

    <div class='row'>
      <div class='col-xs-12 col-md-4'>
        <h2>
          open<br>
          <span class='pink'>health</span><br>
          stack<br>
        </h2>
      </div>
      <div class='col-xs-12 col-md-4'>
        <i class='fa fa-cloud jumbo-icon'></i><br>
        <i class='fa fa-arrows-v big-icon'></i><br>
        <i class='fa fa-mobile jumbo-icon'></i><br>
        <i class='fa fa-arrows-v big-icon'></i><br>
        <i class='fa fa-stethoscope jumbo-icon'></i>
      </div>
      <div class='col-xs-12 col-md-4'>
        <h3>cloud infrastructure</h3>
        <i class='fa fa-plus big-icon'></i><br>
        <h3>mobile apps</h3>
        <i class='fa fa-plus big-icon'></i><br>
        <h3>sensors</h3>
        </h3>
      </div>
    </div>
  </div>

  <%= scroll_arrow 'bar' %>
</section>



<!-- Open Health Stack overview -->
<section id='ohs-overview'>
  <div id='sense-summary' data-speed='5' data-type="background">
    <div class='parallax-banner'>
      <img id='sense-logo' class='pull-right' src='/images/sense-logo.png'></img>
      <div class='banner-text'>
        <span class='banner-heading'>Check your vital signs.<br/><span class="text-muted">And Earth's too.</span></span>
        <p>A tricorder for the globe, SENSE is a pocket-size device that takes environmental and health measurements.</p>
      </div>
    </div>
  </div>

  <div id='myoasis-summary' data-speed='5' data-type="background">
    <div class='parallax-banner'>
      <div id='myoasis-logo' class='pull-left'></div>
      <div id='myoasis-banner' class='banner-text pull-right'>
        <span class='banner-heading'>The data you need,<br> <span class='text-muted'>at your fingertips.</span></span>
        <p>Sync and upload to KEEP, then the get actionalable, at-a-glance metrics you need to improve your health and the health of your surroundings.</p>
      </div>
    </div>
  </div>

  <div id='keep-summary' data-speed='5' data-type="background">
    <div class='parallax-banner'>
      <img id='keep-logo' class='pull-right' src='/images/keep-logo.png'></img>
        <span class='banner-heading'>Together we can tell our story.</span>
        <p>Secure data storage and analytics in the cloud, KEEP protects your privacy and something about data visualizations.</p>
    </div>
  </div>
</section>
