<% provide(:title, 'Foobar') %>

<div id='start-here' class='scroll-arrow'>
  <button id='scroll-down-button' type="button" class="btn btn-link">
    <i class='fa fa-angle-double-down fa-5x'></i>
  </button>
</div>

<div id='xprize-badge'>
  <a id='xprize-img' href='#'></a>
</div>

<section id='landing'>
  <div class='background-image'>
    <div class='container'>

      <div class='row'>
        <div class='col-md-12 col-xs-12'>
          <h1><span class='muted'>we are<br></span>
            <span class='subtle-opacity'>distributed <span class='pink'>health</span> labs</span>
          </h1>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-6 col-xs-12'>
          <iframe src="//player.vimeo.com/video/66929836" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class='col-md-6 col-xs-12'>
          <h2>a <strong>research lab</strong> at the Qualcomm Institute. We're kind of <br><strong>a big deal</strong>.</h2>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render 'layouts/navbar' %>


<!-- Oasis Project -->
<section id='oasis-project'>
  <div id='oasis-container'>
    <div id='oasis-quote'>
      <h1 class='pull-left'>the <span>OASIS</span> project</h1>
      <blockquote class='pull-left'>
        <p>Living body of knowledge, internet of things, citizen science, always on, always connected, crowd-sourced, big data, tricorder.</p>
      </blockquote>
    </div>
    <div class='pull-right' id='oasis-description'><p>Sociis sed amet placerat, nisi tincidunt! Ac in mid, eros ac tristique in, augue? Sagittis turpis, rhoncus augue cras nec ut sed, parturient lundium phasellus rhoncus magna etiam facilisis enim sed ac natoque diam aenean dignissim. Platea dis! Penatibus scelerisque, cursus mattis, urna duis porta. Mattis eu adipiscing ultricies ac augue elementum nec tincidunt, velit. Pulvinar ut ac. Amet etiam eu nisi phasellus, a amet est a cum in scelerisque integer velit? Vel, velit, a. Nunc turpis, est. Pid scelerisque turpis lorem est placerat? Tincidunt? Dictumst? Nec, ac phasellus cursus! Turpis duis mus, turpis montes, lectus aenean adipiscing augue, tortor duis scelerisque elit elit cum hac tempor velit? A ultricies? Tincidunt placerat? Et dapibus velit egestas magna, massa montes in.</p></div>
  </div>
</section>


<!-- Open Health Stack intro -->
<section id='ohs-intro'>
  <div class='container'>
    <div id='ohs-header'>
      <span class='muted'>that's why we're building the</span>
    </div>

    <div class='row'>
      <div class='col-md-4'>
        <h2>
        open<br>
        <span class=pink>health<br></span>
        stack<br>
        </h2>
      </div>
      <div class='col-md-4'>
        <i class='fa fa-cloud jumbo-icon'></i><br>
        <i class='fa fa-arrows-v big-icon'></i><br>
        <i class='fa fa-mobile jumbo-icon'></i><br>
        <i class='fa fa-arrows-v big-icon'></i><br>
        <i class='fa fa-stethoscope jumbo-icon'></i>
      </div>
      <div class='col-md-4'>
        <h3>cloud infrastructure</h3>
        <i class='fa fa-plus big-icon'></i><br>
        <h3>mobile apps</h3>
        <i class='fa fa-plus big-icon'></i><br>
        <h3>sensors</h3>
        </h3>
      </div>
    </div>
  </div>

  <%= scroll_arrow 'bar' %>
</section>



<!-- Open Health Stack overview -->
<section id='ohs-overview'>
  <div id='sense-summary'>
    <div class='parallax-banner' data-speed='5' data-type="background">
      <img id='sense-logo' class='pull-right' src='/images/sense-logo.png'></img>
      <div class='banner-text'>
        <span class='banner-heading'>Check your vital signs.<br/><span class="text-muted">And Earth's too.</span></span>
        <p>A tricorder for the globe, SENSE is a pocket-size device that takes environmental and health measurements.</p>
      </div>
    </div>
  </div>

  <div id='myoasis-summary' data-speed='5' data-type="background">
    <div class='parallax-banner'>
      <img id='myoasis-logo' class='pull-left' src='/images/myoasis-logo.png'></img>
      <div class='banner-text'>
        <span class='banner-heading'>The data you need,<br> <span class='text-muted'>at your fingertips.</span></span>
        <p>Sync and upload to KEEP, then the get actionalable, at-a-glance metrics you need to improve your health and the health of your surroundings.</p>
      </div>
    </div>
  </div>

  <div id='keep-summary' data-speed='5' data-type="background">
    <div class='parallax-banner'>
      <img id='keep-logo' class='pull-right' src='/images/keep-logo.png'></img>
        <span class='banner-heading'>Together we can tell our story.</span>
        <p>Secure data storage and analytics in the cloud, KEEP protects your privacy and something about data visualizations.</p>
    </div>
  </div>
</section>
