<% provide(:title, 'OASIS') %>

<div id='oasis-page' class='container full-page'>

  <div id='oasis-summary' class="row summary">
    <div class="col-xs-12">
      <h2 class="featurette-heading text-center">OASIS</h2>
      <p class='lead tagline'>Activating the most powerful sensor network on our planet: <strong>us</strong></p>
      <p class="lead">
        You are on the frontier of tomorrow, sensing the world as it unfolds around you. You are also connected, through your phone, to a network of everyone else and the environment they are experiencing. OASIS will empower citizens to sense more about their health and environment producing data that can be shared on a living map of the things that matter to us all.
      </p>
    </div>
  </div>

  <!-- OASIS deployments -->
  <section id='ohs-details'>

      <hr class="featurette-divider">
      <div id='mongolia' class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Mongolia<br>
          <span class="text-muted">Crowd-sourcing a clean water map.</span></h2>
          <p class="lead">
          Mongolia is home to the last horse-based nomadic culture in the world, where almost half of the population lives a traditional nomadic lifestyle. The vast stretch of prairies, pristine rivers, and lakes that are the key to nomadic existence also hold immense precious metal deposits. The country has a booming mining sector that is aggressively exploring these resources. The rampant explosion of outdated mining practices has caused river and groundwater systems to be polluted with invisible, but toxic, heavy metals and mining waste. The OASIS-Mongolia project aims to solve this problem by empowering nomadic communities by providing a low cost, community-based testing system for lead, mercury, cyanide, uranium, and arsenic in drinking water. Using existing cellphone networks, nomads can send and receive results on their cellphones and this data can be used to build crowd-sourced maps of water quality.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/beke-kneeling-500.png">
        </div>
      </div>
      <hr class="featurette-divider">

      <div id="haiti" class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Haiti<br/>
          <span class="text-muted">Monitoring the eradication of cholera.</span></h2>
          <p class="lead">
            It has been over 3 years since a catastrophic earthquake struck Haiti on 12 January 2010. The 7.0 magnitude earthquake struck less than 20 miles from Haitian capital of Port-au-Prince, killing 300,000 people and leaving the surrounding area in ruin. In the aftermath of the earthquake, cholera broke out. Because of the lack of clean water, cholera has spread like wildfire. Since then it has killed over 7,000 Haitians and over half a million have fallen ill to disease. Tracking the disease closely is the key to controlling its spread and enabling rapid response to outbreaks. OASIS-Haiti will utilize KEEP to help epidemiologists track and visualize cholera cases so that public health organizations can coordinate effectively and detect outbreaks before they become severe.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/perry-water-500.png">
        </div>
      </div>
      <hr class="featurette-divider">

      <div id='mozambique' class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Mozambique<br/>
          <span class="text-muted">Analyzing clinical patient data.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive center-block" src="/images/sanjay-kid-500.png">
        </div>
      </div>
      <hr class="featurette-divider">
  </section>

</div>
