<% provide(:title, 'OASIS') %>

<div id='oasis-page' class='container full-page'>

  <!-- OASIS deployment logos -->
  <section class='tri-column'>

    <div id='ohs-summary' class="row featurette">
      <div class="col-xs-12">
        <h2 class="featurette-heading text-center">The OASIS Project</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img class="img-responsive center-block" src="/images/myoasis-logo-300-175.png">
        <p>A Tricorder for the globe, SENSE is a pocketable device takes environmental and health measurements.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-xs-12 col-md-4">
        <img class="img-responsive center-block" src="/images/myoasis-logo-300-175.png">
        <p>Sync and upload to KEEP, then the get actionalable, at-a-glance metrics you need to improve your health and the health of your surroundings.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-xs-12 col-md-4">
        <img class="img-responsive center-block" src="/images/myoasis-logo-300-175.png">
        <p>Secure data storage and analytics in the cloud, KEEP protects your privacy and something about data visualizations.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </section>

  <!-- Open Health Stack details -->
  <section id='ohs-details'>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Mongolia<br><span class="text-muted">Horses and nomads and shit.</span></h2>
          <p class="lead">
          Mongolia is home to the last horse-based nomadic culture in the world, where almost half of the population lives a traditional nomadic lifestyle. The vast stretch of prairies, pristine rivers, and lakes that are the key to nomadic existence also hold immense amounts of natural deposits such as gold, copper, coal, uranium, and other industrial minerals. Naturally, the country has a booming mining sector that is aggressively exploring precious metals. In the last two years alone, the government granted 3000 exploration permits. In addition, the number of artisanal miners grew exponentially as mining became a secondary source of income for most families. The rampant explosion of outdated mining practices has caused river and groundwater systems to be polluted with the invisible but toxic heavy metals and mining waste products.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/beke-kneeling-500.png">
        </div>
      </div>
      <div class='row'>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/beke-kneeling-500.png">
        </div>
        <div class="col-xs-12 col-md-7">
          <p class="lead">
          The OASIS-Mongolia project aims to solve this problem by empowering nomadic communities by providing a low cost, community based testing system for lead, mercury, cyanide, uranium, and arsenic in drinking water. Leveraging existing cellphone networks in Mongolia, nomads can send data and receive results on their cellphones along with information regarding nearby clean water sources. Furthermore, we plan to make the project OASIS a self-sustaining environmental monitoring tool that not only measures water quality but a tool that provides an economic incentive to data collectors (nomads) and an affordable national level water quality monitoring system.
          </p>
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Haiti<br/><span class="text-muted">Fighting cholera yo.</span></h2>
          <p class="lead">
            It has been over 3 years since a catastrophic earthquake struck Haiti on 12 January 2010. The 7.0 magnitude earthquake struck less than 20 miles from Haitian capital of Port-au-Prince, killing 300,000 people and leaving the surrounding area in ruin. Many countries, organizations, and individuals quickly rushed to help Haiti, but the scene was already set. Haiti has faced a difficult to road to recovery. In the aftermath of the earthquake, cholera broke out. Because of the lack of clean water cholera has spread like wildfire since it first appeared about 10 months after the earthquake. Since then it has killed over 7,000 Haitians and over half a million have fallen ill to disease. As the rainy season approaches, the number of cases per month is expected to increase by more than double. In remote areas of the country, small groups of doctors and nurses make slow and difficult treks to track the disease and help those afflicted by it. For the doctors and nurses fighting the disease, the sharing of data is a matter of life and death.
            <br><br>
            The first goal of OASIS-Haiti is to aid medical and public health organizations to eradicate cholera. We plan to help epidemiologists in tracking and visualizing the presence of cholera through the use of KEEP and geospatial visualizations. Distributed Health Labs will also work on enhancing its SENSE device to test for organic contaminants, like viruses and bacterias. If low-cost assay technologies like those used being used in OASIS-Mongolia can be adapted to work with SENSE, then Haitians everywhere will have a low-cost testing tool and be able to contribute to eradication efforts by regularly testing their own drinking water sources.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/200x200/auto" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Mozambique<br/><span class="text-muted">Bitches love medical records.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/200x200/auto" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">
  </section>

</div>
