<% provide(:title, 'OASIS') %>

<div id='oasis-page' class='container full-page'>

  <div id='ohs-summary' class="row featurette">
    <div class="col-xs-12">
      <h2 class="featurette-heading text-center">The OASIS Project</h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
  </div>

  <!-- OASIS deployments -->
  <section id='ohs-details'>

      <hr class="featurette-divider">
      <div id='mongolia' class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Mongolia<br><span class="text-muted">Horses and nomads and shit.</span></h2>
          <p class="lead">
          Mongolia is home to the last horse-based nomadic culture in the world, where almost half of the population lives a traditional nomadic lifestyle. The vast stretch of prairies, pristine rivers, and lakes that are the key to nomadic existence also hold immense amounts of natural deposits such as gold, copper, coal, uranium, and other industrial minerals. Naturally, the country has a booming mining sector that is aggressively exploring precious metals. In the last two years alone, the government granted 3000 exploration permits. In addition, the number of artisanal miners grew exponentially as mining became a secondary source of income for most families. The rampant explosion of outdated mining practices has caused river and groundwater systems to be polluted with the invisible but toxic heavy metals and mining waste products.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/beke-kneeling-500.png">
        </div>
      </div>
      <hr class="featurette-divider">

      <div id="haiti" class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Haiti<br/><span class="text-muted">Fighting cholera yo.</span></h2>
          <p class="lead">
            It has been over 3 years since a catastrophic earthquake struck Haiti on 12 January 2010. The 7.0 magnitude earthquake struck less than 20 miles from Haitian capital of Port-au-Prince, killing 300,000 people and leaving the surrounding area in ruin. Many countries, organizations, and individuals quickly rushed to help Haiti, but the scene was already set. Haiti has faced a difficult to road to recovery. In the aftermath of the earthquake, cholera broke out. Because of the lack of clean water cholera has spread like wildfire since it first appeared about 10 months after the earthquake. Since then it has killed over 7,000 Haitians and over half a million have fallen ill to disease. As the rainy season approaches, the number of cases per month is expected to increase by more than double. In remote areas of the country, small groups of doctors and nurses make slow and difficult treks to track the disease and help those afflicted by it. For the doctors and nurses fighting the disease, the sharing of data is a matter of life and death.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/perry-water-500.png">
        </div>
      </div>
      <hr class="featurette-divider">

      <div id='mozambique' class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">Mozambique<br/><span class="text-muted">Bitches love medical records.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/sanjay-kid-500.png">
        </div>
      </div>
      <hr class="featurette-divider">
  </section>

</div>
