<% provide(:title, 'Open Health Stack') %>

<div id='open-health-stack' class='container full-page'>

  <div id='ohs-summary' class='row summary'>
    <div class="col-xs-12">
      <h2 class="featurette-heading text-center">Open Health Stack</h2>
      <p class="lead tagline">
        medical diagnostic tools for <strong>you</strong> and <strong>your planet</strong>
      </p>
      <p class="lead">
        The first "layer" of the stack is SENSE, a multi-function biosensor that tracks vital signs, discovers disease and measures environmental threats such as heavy metals in water. The next layer is MyOasis, a mobile app that interacts with the world through the user, camera and sensors to monitor and report both visible and invisible threats. The final layer is KEEP, a secure, privacy-preserving data-storage-and-analysis platform that detects, visualizes and reports local and global trends.
      </p>
    </div>
  </div>

  <!-- Open Health Stack details -->
  <section id='ohs-details'>

      <hr id="sense" class="featurette-divider">
      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">SENSE<br><span class="text-muted">An affordable environment-and-health scanner.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/sense-render-500.png">
        </div>
      </div>

      <hr id="my-oasis" class="featurette-divider">
      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">MyOasis<br/><span class="text-muted">The data you need, in the palm of your hand.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/myoasis-app-500.png">
        </div>
      </div>

      <hr id="keep" class="featurette-divider">
      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">KEEP<br/>
          <span class="text-muted">Data from the crowd, for the crowd.</span></h2>
          <p class="lead">
            <strong>Secure Data Storage</strong><br>
            Two-factor authentication and 1024-bit SSL encryption used
            throughout the data collection process allows your data to be
            safely transmitted and stored.
          </p>

          <p class="lead">
            <strong>Powerful Analytics</strong><br>
            Based on your data, we determine the best visualizations and
            analytics to apply allowing you to view your data in new and
            powerful ways.
          </p>

          <p class="lead">
            <strong>Differential Privacy</strong><br>
            A sentence or two about why this is important.
          </p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/keep-map-500.png">
        </div>
      </div>
      <hr class="featurette-divider">
  </section>

</div>
