<% provide(:title, 'Open Health Stack') %>

<div id='open-health-stack' class='container full-page'>

  <!-- Product-line overview -->
  <section class='tri-column'>

    <div id='ohs-summary' class="row featurette">
      <div class="col-xs-12">
        <h2 class="featurette-heading text-center">The Open Health Stack</h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <img class="img-responsive center-block" src="/images/sense-logo-300-175.png">
        <p>A Tricorder for the globe, SENSE is a pocketable device takes environmental and health measurements.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-xs-12 col-md-4">
        <img class="img-responsive center-block" src="/images/myoasis-logo-300-175.png">
        <p>Sync and upload to KEEP, then the get actionalable, at-a-glance metrics you need to improve your health and the health of your surroundings.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-xs-12 col-md-4">
        <img class="img-responsive center-block" src="/images/keep-logo-300-175.png">
        <p>Secure data storage and analytics in the cloud, KEEP protects your privacy and something about data visualizations.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </section>

  <!-- Open Health Stack details -->
  <section id='ohs-details'>

      <hr id="sense" class="featurette-divider">
      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">SENSE<br><span class="text-muted">An affordable environmental and health scanner.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/sense-render-500.png">
        </div>
      </div>

      <hr id="my-oasis" class="featurette-divider">
      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">MyOasis<br/><span class="text-muted">The data you need, in the palm of your hand.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/myoasis-app-500.png">
        </div>
      </div>

      <hr id="keep" class="featurette-divider">
      <div class="row featurette">
        <div class="col-xs-12 col-md-7">
          <h2 class="featurette-heading">KEEP<br/><span class="text-muted">Together we can tell our story.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-xs-12 col-md-5">
          <img class="featurette-image img-responsive" src="/images/keep-map-500.png">
        </div>
      </div>
      <hr class="featurette-divider">
  </section>

</div>
