body {
  margin: 0px;
  padding: 0 0 40px 0;
  background-image: url(/images/bg_topo_2X.png);
  background-size: 500px 499px;
  background-position: initial;
  background-repeat: initial;
}

footer {
  color: #CCC;
  i { margin: 0 20px 30px 20px; }
}

nav {
  span.pink{ padding: 0 2px; }
  margin-bottom: 40px;
}

header {
}

.navbar { 
  margin-bottom: 0;
  padding-bottom: 0;
}
