body {
  margin: 0;
  padding: 0;
  background-image: url(/images/bg_topo_2X.png);
  background-size: 500px 499px;
  background-position: initial;
  background-repeat: initial;
}

footer {
  display: block;
  padding-top: 20px;
  background-color: #222; 
  color: #CCC;
  i { margin: 0 20px 30px 20px; }
}

nav {
  span.pink{ padding: 0 2px; }
  margin-bottom: 40px;

  ul.dropdown-menu {
    background-color: #222;
    .dropdown-header { color: #AAA; }
    li.divider { background-color: #444; }
    a { 
      color: #CCC; 
    }
    a:hover {background-color: #DDD;} 
  }

}

header {
}

.navbar { 
  margin-bottom: 0;
  padding-bottom: 0;
}
