// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* GLOBAL STYLES
-------------------------------------------------- */
.muted { color: #777; }
.pink { color: pink; }

h1,
h2,
h3,
h4,
h5 { color: white; }



/* SCROLLING ARROWS
-------------------------------------------------- */
div.scroll-arrow {
  position: absolute;
  right: 50%;
  margin-right: -35px;

  i { color: #FFF; }

  button:focus { outline: none; }
  button:hover {
    i { color: #DDD; }
  }
}

// the first scroll arrow on the landing page
//div#start-here{ bottom: 20px; }




/* LANDING PAGE
-------------------------------------------------- */
section#landing {
  h1 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 60px;

    .muted { color: #BBB; }
  }

  h2.subtle-opacity {
    color: #FFF;
    background-color:rgba(175,175,175, 0.5); 
  }

  .background-image {
    margin: 0px;
    padding: 0px;
    background-image: url(/images/bg-waterfall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
  }
}




/* OASIS PROJECT
-------------------------------------------------- */
section#oasis-project{
  height: 1000px;
  margin-top: 10%;

  .background-image {
    height: inherit;
    background-image: url(/images/connected-world.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 25%;
  }

  #oasis-quote {
    p {
      color: #FFF;
      font-size: 30px;
    }
  }

  #oasis-description {
    margin-top: 20%;
  }

  #oasis-scroll {
    position: relative;
    float: left;
  }

  h1 {
    color: #666;
    font-size: 48pt;
    span { color: aliceblue; }
  }
  p {
    color: #FFF;
    font-size: 30px;
  }
  blockquote { border-color: #757575; }
}




/* OPEN HEALTH STACK INTRO
-------------------------------------------------- */
section#ohs-intro {
  margin-top: 10%;

  #ohs-header {
    margin: 50px auto;
    font-size: 60pt;
    color: white;
    text-align: center;
  }

  text-align: center;
  p { color: #CCC; }
  h2 {
    font-size: 60pt;
    font-weight: normal;
    line-height: 2em;
    margin-top: -10px;
  }
  h3 { font-size: 30pt; }

  i.big-icon { font-size: 4em; }
  i.jumbo-icon { font-size: 8em; }

  .fa-cloud { color: lightblue; }
  .fa-mobile { color: #DDD; }
  .fa-stethoscope { color: pink; }
  .fa-arrows-v { color: #555; }
  .fa-plus { color: #555; }
}


/* OHS OVERVIEW
-------------------------------------------------- */
section#ohs-overview-2 {
  margin-top: 20%;

  .row { padding: 5% 0; }

  .banner {
    position: relative;
    min-height: 400px;
    width: 100%;
    background-color: #FFF;

    .heading {
      font-weight: normal;
      line-height: 60px;
      font-size: 48pt;
      color: #5e5e5e;

    }
    .muted { color: #888; }

    p {
      color: #555;
      font-size: 16pt;
    }
  }

  #myoasis-logo { margin: 10% 0; }
  #keep-logo { max-height: 270px; }
}
