// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* GLOBAL STYLES
-------------------------------------------------- */
.muted { color: #777; }
.pink { color: pink; }

h1,
h2,
h3,
h4,
h5 { color: white; }



/* SCROLLING ARROWS
-------------------------------------------------- */
div.scroll-arrow {
  position: absolute;
  right: 50%;
  margin-right: -35px;

  i { color: #FFF; }

  button:focus { outline: none; }
  button:hover {
    i { color: #DDD; }
  }
}

// the first scroll arrow on the landing page
//div#start-here{ bottom: 20px; }




/* LANDING PAGE
-------------------------------------------------- */
section#landing {
  h1 {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 60px;

    .muted { color: #BBB; }

    .subtle-opacity { background-color:rgba(175,175,175, 0.1); }
  }

  h2.subtle-opacity {
    color: #FFF;
    background-color:rgba(175,175,175, 0.5); 
  }

  .background-image {
    margin: 0px;
    padding: 0px;
    background-image: url(/images/bg-waterfall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 1000px;
  }
}




/* OASIS PROJECT
-------------------------------------------------- */
section#oasis-project{
  margin-top: 300px;
  margin-bottom: 500px;
  height: 1000px;

  .background-image {
    height: inherit;
    background-image: url(/images/connected-world.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: 25%;
  }

  #oasis-quote {
    p {
      color: #FFF;
      font-size: 30px;
    }
  }

  #oasis-description {
    margin-top: 200px;
    right: 100px;
    padding-right: 100px;
  }

  #oasis-scroll {
    position: relative;
    float: left;
  }

  h1 {
    color: #666;
    font-size: 48pt;
    span { color: aliceblue; }
  }
  p.subtle-opacity {
    background-color:rgba(175,175,175, 0.1); 
    color: #FFF;
    font-size: 30px;
  }
  blockquote { border-color: #757575; }
}




/* OPEN HEALTH STACK INTRO
-------------------------------------------------- */
section#ohs-intro {
  #ohs-header {
    margin: 50px auto;
    font-size: 60pt;
    color: white;
    text-align: center;
  }

  text-align: center;
  p { color: #CCC; }
  h2 {
    font-size: 60pt;
    font-weight: normal;
    line-height: 2em;
    margin-top: -10px;
  }
  h3 { font-size: 30pt; }

  i.big-icon { font-size: 4em; }
  i.jumbo-icon { font-size: 8em; }

  .fa-cloud { color: lightblue; }
  .fa-mobile { color: #DDD; }
  .fa-stethoscope { color: pink; }
  .fa-arrows-v { color: #555; }
  .fa-plus { color: #555; }

  margin-bottom: 500px;
}




/* OPEN HEALTH STACK OVERVIEW
-------------------------------------------------- */
@mixin parallax-bg($path) {
  background: url($path);
  background-size: auto 100%;
  min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
}
section#ohs-overview {
  .parallax-banner {
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: #FFF;
    padding: 100px 200px;

    .banner-text {
      margin-top: -25px;
    }

    .banner-heading {
      line-height: 60px;
      font-size: 48pt;
      color: #5e5e5e;
    }
    p {
      color: #555;
      font-size: 16pt;
    }
  }

  #sense-summary { @include parallax-bg('/images/sanjay-perry.png'); }
  #myoasis-summary { @include parallax-bg('/images/person-using-phone.jpg'); }
  #keep-summary { @include parallax-bg('/images/data-center.jpg'); }

  #myoasis-banner { width: 600px; }

  #sense-logo { margin-top: -40px; }
  #myoasis-logo {
    height: 400px;
    width: 400px;
    background-image: url(/images/myoasis-logo.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-left: -100px;
    margin-right: 100px;
  }
  #keep-logo {}
}

/* OHS OVERVIEW -- RESPONSIVE ATTEMPT
-------------------------------------------------- */
section#ohs-overview-2 {
  margin-bottom: 1000px;

  .row { padding: 5% 0; }

  .banner {
    position: relative;
    min-height: 400px;
    width: 100%;
    background-color: #FFF;

    .banner-heading {
      line-height: 60px;
      font-size: 48pt;
      color: #5e5e5e;
    }

    p {
      color: #555;
      font-size: 16pt;
    }
  }

  #sense-image {
    position: relative;
    width: 100%;
    background: url('/images/sanjay-perry.png');
    background-size: auto 100%;
    margin: 0;
  }
}
